[tool.poetry]
name = "labs"
version = "0.1.0"
description = "A template for building Python based web applications"
authors = [
    "Dev Mukherjee <devraj@gmail.com>"
]
repository = "https://github.com/anomaly/lab-python-server"
documentation = "https://anomaly.academy"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
pendulum = "^2.1.2"
SQLAlchemy = "^1.4.45"
fastapi = "^0.88.0"
alembic = "^1.9.0"
celery = "^5.2.7"
uvicorn = "^0.20.0"
gunicorn = "^20.1.0"
websockets = "^10.4"
fluent-logger = "^0.10.0"
redis = "^4.4.0"
asyncpg = "^0.27.0"
gevent = "^22.10.1"
email-validator = "^1.3.0"
pyotp = "^2.8.0"
redmail = "^0.4.2"
stripe = "^5.0.0"
clicksend-client = "^5.0.72"
minio = "^7.1.12"
passlib = "^1.7.4"
bcrypt = "^4.0.0"
PyJWT = "^2.6.0"
pyhumps = "^3.8.0"
python-multipart = "^0.0.5"
pytest = "^7.2.0"
pytz = "^2022.7"

[tool.poetry.dev-dependencies]
watchdog = "^2.1.8"

[tool.poetry.scripts]
init-db = "labs.db:main"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
